# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
public/arsip_file

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.claude/*

# Local env files
.env
.env.*
!.env.example
.codex/*
.config/*
# Local archive files
public/arsip_file/*
!public/arsip_file/.gitkeep
